<head>
    <meta charset="UTF-8" />
    <title>2차 인증</title>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
  
  </head>
  <body background="res/apt_back-001.png">
    <div class="main">
      <h1 class="logo_2Auth" id="admin">2차 인증</h1>
      <form action="/login_2nd" method="post">
        <div class="container">
          <div class="info_label" id="info_label">
            핸드폰으로 전송된 인증을 확인후 아래 버튼을 눌러주세요.
          </div>
          <div class="result"></div>
          <input type="submit" id="login" class="account" value="확인" />
        </div>
      </form>
    </div>
  </body>
  <footer></footer>
  